.main-heading {
  color: #19323C;
  text-align: central;
}

.secondary-heading {
  color:#A93F55;
}

body {
  background: #fdd26e;
}

.navigation {
background: #EF6461;
padding: 16px;
border-radius: 6px;
}

.navigation__link {
  display: inline-block;
  color:#19323C;
  margin-right: 20px;
}

.navigation__link--homepage {
  background:#fdd26e;
  color: #A93F55;
}